.Title_Text_I {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    color: black;
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    font-family: 'Mansalva', cursive;
}

.Introduction-Background {
    /* background-image:url(../images/introBack.jpg); */
    overflow:hidden;
    position:relative;
    width:100%;
    max-width:2560px;
    height:100vh;
    min-height:740px;
    margin:0 auto;
    background-position:50% 80%;
    background-repeat:no-repeat;
    background-size:cover;
  } 